@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
   font-family: "GothamBook";
   src: url("../fonts/GothamBook.eot");
   src: url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gotham";
   src: url("../fonts/gothambold1.eot");
   src: url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.ttf") format("truetype");
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Gotham";
   src: url("../fonts/gotham-medium-webfont.woff2") format("woff2"),
      url("../fonts/gotham-medium-webfont.woff") format("woff"),
      url("../fonts/Gotham-Medium-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
}

$Gbook: "GothamBook", sans-serif;
$G: "Gotham", sans-serif;
$OS: "Open Sans", sans-serif;

%h2 {
   font-family: $G;
   font-size: 2.45em;
   text-transform: uppercase;
   margin: 0;
   line-height: 0.8;
}
%h3 {
   font-family: $Gbook;
   font-size: 1.22em;
   text-transform: uppercase;
   margin: 0;
   line-height: 0.8;
}
%beforeDark {
   &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background: #2c4058;
      margin: 0 auto 40px;
   }
}
%beforeLight {
   &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background: #fff;
      margin: 0 auto 40px;
   }
}
%p {
   font-family: $OS;
   font-weight: normal;
   font-style: normal;
   line-height: 1.67;
   margin: 0;
}
* {
   box-sizing: border-box;
}

body {
   font-family: $G;
   font-size: 18px;
   font-weight: 400;
   color: #2c4058;
}
.container {
   max-width: 1210px;
   margin: 0 auto;
}
.header {
   width: 100%;
   padding: 53px 0;
   background: rgba(106, 137, 255, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   // display: none;
   &__wrap {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
}
.nav {
   width: 60%;
   max-width: 765px;
   margin: 0;
   padding: 0;
   &__ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
   }
   &__li {
      list-style: none;
      font-family: $Gbook;
      font-size: 0.78em;
      text-transform: uppercase;
      margin: 0 auto;
   }
   &__a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 0 10px;
      white-space: nowrap;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
      &:hover .nav__circle {
         box-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
   }
   &__circle {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 14px;
      transition: 0.5s;
      &_active {
         background: #fff;
      }
   }
}
.socials {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: -10px;
   &__a {
      margin: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         box-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
   }
}

.about {
   width: 100%;
   height: 100vh;
   background: linear-gradient(45deg, #55b7ff, #7e5aff);
   position: relative;

   overflow: hidden;
   &__text {
      opacity: 1;
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      margin-top: -63px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-left: -453px;
   }
   &__h1 {
      margin: 0;
      font-size: 4.45em;
      letter-spacing: 0.05em;
      text-indent: 0.05em;
      line-height: 0.8;
      margin-bottom: 40px;
      animation: pulse 5s infinite;
   }
   &__p {
      margin: 0;
      letter-spacing: 0.3em;
      text-indent: 0.3em;
      line-height: 1.22;
      animation: pulse 5s infinite;
   }
   &__imgs {
      width: 100%;
      height: 100vh;
      overflow: hidden;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
   &__scrollDown {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      bottom: 10vh;
      left: 50%;
      margin-left: -20px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      padding: 10px;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         box-shadow: 0 0 0.5em #fff;
         transform: translateY(-7px);
      }
   }
}
@keyframes pulse {
   0% {
      text-shadow: 0 0 0 #fff;
   }
   50% {
      text-shadow: 0 0 0.5em #2c4058, 0 0 0.2em #2c4058;
   }
   100% {
      text-shadow: 0 0 0 #fff;
   }
}
.slick-prev,
.slick-next {
   display: none !important;
}
.slick-dots {
   display: flex;
   flex-direction: column;
   top: 50%;
   margin-top: -123px;
   right: 2% !important;
   bottom: unset;
   width: unset;
}
.slick-dots li button {
   padding: 0;
   width: 9px;
   height: 9px;
   border: 1px solid #fff;
   border-radius: 50%;
}
.slick-dots li {
   margin: 20px 0;
}
.slick-dots li button:before {
   padding: 0;
   width: 9px;
   height: 9px;
   content: "";
}
.slick-dots li.slick-active button:before {
   padding: 0;
   opacity: 1;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: #fff;
}
.projects {
   width: 100%;
   padding: 100px 0 0;
   &__h2 {
      @extend %h2;
      font-weight: 700;
      margin-top: 17px;
   }
   &__h2_beforeDark {
      margin-bottom: 100px;
      @extend %beforeDark;
      text-align: center;
      animation: pulse 5s infinite;
   }
   &__h3 {
      @extend %h3;
   }
   &__p {
      @extend %p;
      padding: 40px 0;
   }
   &__wrapper {
      width: 100%;
      padding-top: 70px;
      position: relative;
      margin-bottom: 140px;
   }
   &__bg {
      position: absolute;
      z-index: -1;
      max-width: 630px;
      width: 54%;
      max-height: 470px;
      height: 100%;
      &_left {
         background: #55b7ff;
         top: 0;
         left: 0;
      }
      &_right {
         background: #7e5aff;
         top: 0;
         right: 0;
      }
   }
   &__content {
      display: flex;
      padding: 0 20px;
   }
   &__imgs {
      width: 54%;
      max-height: 470px;
      overflow: hidden;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
   }
   &__text {
      width: 50%;
      padding: 60px 0;
      &_right {
         padding-left: 70px;
      }
      &_left {
         padding-right: 70px;
      }
   }
   &__location {
      font-family: $OS;
      font-style: italic;
      margin-top: 60px;
   }
}
.btn {
   display: inline-block;
   padding: 19px 40px;
   border: 1px solid #2c4058;
   text-transform: uppercase;
   font-family: $Gbook;
   text-decoration: none;
   color: #2c4058;
   transition: 0.5s;
   &:hover {
      transform: scale(1.1);
      text-shadow: 0 0 0.5em #2c4058;
      box-shadow: 0 0 0.5em #2c4058;
   }
}
.news {
   width: 100%;
   padding: 140px 0;
   background: url(../img/news_bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   &__h2 {
      @extend %h2;
      text-align: left;
      font-weight: 700;
      margin-top: 17px;
      color: #fff;
   }
   &__h2_beforeLight {
      margin-bottom: 100px;
      @extend %beforeLight;
      text-align: center;
      animation: pulse 5s infinite;
   }
   &__slider {
      margin-top: 100px;
      padding: 0 20px;
   }
   &__item {
      max-width: 370px;
      min-height: 515px;
      background: #fff;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 0.5em #2c4058;
   }
   &__imgs {
      position: relative;
      padding-top: 60%;
      overflow: hidden;
   }
   &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
   }
   &__h4 {
      margin: 30px 20px 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.22em;
      line-height: 1.545;
      min-height: 2.8em;
   }
   &__p {
      margin: 5px 20px 0;
      font-family: $OS;
      line-height: 1.67;
   }
   &__author {
      display: flex;
      margin-left: 20px;
      margin-top: auto;
   }
   &__authorImgs {
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin-right: 20px;
   }
   &__authorImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
   &__authorName {
      text-transform: uppercase;
      font-family: $Gbook;
      margin: 10px 0;
      line-height: 1;
   }
   &__date {
      font-family: $Gbook;
      font-size: 0.78em;
      color: #55b7ff;
      margin: 0;
   }
}

.owl-nav {
   position: relative;
}
button.owl-prev,
button.owl-next {
   font-size: 1.5em !important;
   border-radius: 50% !important;
   border: 1px solid #fff !important;
   width: 48px;
   height: 48px;

   padding: 0 !important;
   margin: 0 !important;
   position: absolute;
   color: #fff !important;
   display: flex;
   align-items: center;
   justify-content: center;
}
.owl-prev {
   top: -280px;
   left: -10%;
}
.owl-next {
   top: -280px;
   right: -10%;
}
.owlSlider__item {
   display: flex;
   justify-content: center;
}
.owl-item {
   background: transparent !important;
   display: flex;
   justify-content: center;
}
.owl-dots {
   text-align: center;
   margin-top: 60px;
}
.owl-dot {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   border: 1px solid #fff !important;
   margin: 0 20px;
}
.owl-dot.active {
   background: #fff !important;
}

.gallery {
   padding: 140px 0;
   text-align: center;
   &__h2 {
      @extend %h2;
      font-weight: 700;
      margin-top: 17px;
   }
   &__h2_beforeDark {
      margin-bottom: 100px;
      @extend %beforeDark;
      text-align: center;
      animation: pulse 5s infinite;
   }
   &__cities {
      margin: -50px auto 30px;
      text-transform: uppercase;
      @media (max-width: 500px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   &__city {
      text-decoration: none;
      color: #2c4058;
      margin: 0 30px;
      @media (max-width: 500px) {
         display: inline-block;
         margin: 15px;
      }
   }
   &__content {
      padding: 0 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 60px;
      @media (max-width: 500px) {
         grid-template-columns: repeat(2, 1fr);
      }
   }
   &__item {
      overflow: hidden;
      width: 100%;
      &:first-child {
         grid-column: span 2;
         grid-row: span 2;
      }
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
}
.map {
   height: 70vh;
}
.footer {
   width: 100%;
   height: 50vh;
   background: linear-gradient(45deg, #55b7ff, #7e5aff);
   &__bg {
      width: 100%;
      height: 100%;
      background: url(../img/footer_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__container {
      margin: -10% auto 0;
      width: 90%;
      max-width: 810px;
      padding: 0 20px;
      text-align: center;
   }
   &__wrap {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
   &__copyrights {
      display: flex;
      margin-top: 40px;
   }
   &__delimiter {
      width: 1px;
      background: #fff;
      margin: 0 20px;
   }
   &__p {
      margin: 0;
      font-family: $Gbook;
      font-size: 0.78em;
      line-height: 1.57;
      color: #fff;
   }
}
.modal {
   // display: none;
   position: fixed;
   bottom: 25vh;
   left: 50%;
   margin-left: -385px;
   width: 770px;
   height: 450px;
   background: #fff;
   z-index: 1000;
   @media (max-width: 770px) {
      width: 100%;
      height: unset;
      margin: 0;
      left: 0;
      padding: 10px;
   }
   &__bg {
      padding: 60px 60px;
      width: 100%;
      height: 100%;
      margin: 0;
      background: url(../img/modal_bg.png);
      background-repeat: no-repeat;
      background-position: bottom;
   }
   &__h2 {
      @extend %h2;
      font-weight: 400;
   }
   &__h2_beforeDark {
      text-align: center;
      &::before {
         content: "";
         display: block;
         width: 100px;
         height: 1px;
         background: #2c4058;
         margin: 0 auto 30px;
      }
   }
   &__wrap {
      display: flex;
      margin-top: 60px;
      flex-wrap: wrap;
      justify-content: center;
   }
   &__content {
      width: 50%;
      min-width: 300px;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:first-child {
         @media (max-width: 770px) {
            margin-bottom: 50px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
         }
      }
   }
   &__p,
   &__a {
      font-family: $Gbook;
      // line-height: 1.89;
      text-decoration: none;
      color: #2c4058;
      margin: 20px 0;
   }
   &__p span {
      margin-right: 10px;
      color: #7e5aff;
   }
   &__p:last-child {
      margin-bottom: 0;
   }
   &__p:first-child {
      margin-top: 0;
   }
   &__btn {
      align-self: flex-end;
   }
   &__input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(75, 85, 98, 0.5);
      outline: none;
      padding: 20px 0;
      &:first-child {
         padding-top: 0;
      }
      &:focus {
         border-bottom: 1px solid #2c4058;
      }
      &::placeholder {
         color: rgba(75, 85, 98, 0.5);
         &:focus {
            color: #2c4058;
         }
      }
   }
}
