@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
   font-family: "GothamBook";
   src: url("../fonts/GothamBook.eot");
   src: url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gotham";
   src: url("../fonts/gothambold1.eot");
   src: url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.ttf") format("truetype");
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Gotham";
   src: url("../fonts/gotham-medium-webfont.woff2") format("woff2"),
      url("../fonts/gotham-medium-webfont.woff") format("woff"),
      url("../fonts/Gotham-Medium-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: 400;
}

$Gbook: "GothamBook", sans-serif;
$G: "Gotham", sans-serif;
$OS: "Open Sans", sans-serif;

%h2 {
   font-family: $G;
   font-size: 2.45em;
   text-transform: uppercase;
   margin: 0;
}
%h3 {
   font-family: $G;
   font-size: 1.22em;
   text-transform: uppercase;
   margin: 0;
}
%before {
   &::before {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background: #2c4058;
      margin: 0 auto 40px;
   }
}
%p {
   font-family: $OS;
   font-weight: normal;
   font-style: normal;
   line-height: 1.67;
   margin: 0;
}
* {
   box-sizing: border-box;
}

body {
   font-family: $G;
   font-size: 18px;
   font-weight: 400;
   color: #2c4058;
}
.container {
   max-width: 1180px;
   margin: 0 auto;
}
.header {
   width: 100%;
   padding: 53px 20px;
   background: rgba(106, 137, 255, 0.7);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   // display: none;
   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
   }
}
.nav {
   width: 60%;
   max-width: 765px;
   margin: 0;
   padding: 0;
   &__ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
   }
   &__li {
      list-style: none;
      font-family: $Gbook;
      font-size: 0.78em;
      text-transform: uppercase;
      margin: 0 auto;
   }
   &__a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 0 10px;
      white-space: nowrap;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
      &:hover .nav__circle {
         box-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
   }
   &__circle {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 14px;
      transition: 0.5s;
      &_active {
         background: #fff;
      }
   }
}
.socials {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__a {
      margin: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         box-shadow: 0 0 0.5em #fff;
         transform: scale(1.05);
      }
   }
}

.about {
   width: 100%;
   height: 100vh;
   background: linear-gradient(45deg, #55b7ff, #7e5aff);
   position: relative;

   overflow: hidden;
   &__text {
      opacity: 1;
      position: absolute;
      z-index: 99;
      top: 50%;
      left: 50%;
      margin-top: -63px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-left: -453px;
   }
   &__h1 {
      margin: 0;
      font-size: 4.45em;
      letter-spacing: 0.05em;
      text-indent: 0.05em;
      line-height: 0.8;
      margin-bottom: 40px;
      animation: pulse 5s infinite;
      @keyframes pulse {
         0% {
            text-shadow: 0 0 0 #fff;
         }
         50% {
            text-shadow: 0 0 0.5em #2c4058, 0 0 0.2em #2c4058;
         }
         100% {
            text-shadow: 0 0 0 #fff;
         }
      }
   }
   &__p {
      margin: 0;
      letter-spacing: 0.3em;
      text-indent: 0.3em;
      line-height: 1.22;
      animation: pulse 5s infinite;
   }
   &__imgs {
      width: 100%;
      height: 100vh;
      overflow: hidden;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
   &__scrollDown {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      bottom: 10vh;
      left: 50%;
      margin-left: -20px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      padding: 10px;
      transition: 0.5s;
      &:hover {
         text-shadow: 0 0 0.5em #fff;
         box-shadow: 0 0 0.5em #fff;
         transform: translateY(-7px);
      }
   }
}
.slick-prev,
.slick-next {
   display: none !important;
}
.slick-dots {
   display: flex;
   flex-direction: column;
   top: 50%;
   margin-top: -123px;
   right: 2% !important;
   bottom: unset;
   width: unset;
}
.slick-dots li button {
   padding: 0;
   width: 9px;
   height: 9px;
   border: 1px solid #fff;
   border-radius: 50%;
}
.slick-dots li {
   margin: 20px 0;
}
.slick-dots li button:before {
   padding: 0;
   width: 9px;
   height: 9px;
   content: "";
}
.slick-dots li.slick-active button:before {
   padding: 0;
   opacity: 1;
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: #fff;
}
.projects {
   width: 100%;
   padding: 100px 0 0;
   &__h2 {
      @extend %h2;
      text-align: left;
      font-weight: 700;
   }
   &__h2_before {
      margin-bottom: 100px;
      @extend %before;
      text-align: center;
   }
   &__h3 {
      @extend %h3;
   }
   &__p {
      @extend %p;
      margin: 40px 0;
   }
   &__wrapper {
      width: 100%;
      padding-top: 70px;
      position: relative;
      margin-bottom: 140px;
   }
   &__bg {
      position: absolute;
      z-index: -1;
      max-width: 630px;
      width: 54%;
      max-height: 470px;
      height: 100%;
      &_left {
         background: #55b7ff;
         top: 0;
         left: 0;
      }
      &_right {
         background: #7e5aff;
         top: 0;
         right: 0;
      }
   }
   &__content {
      display: flex;
      padding: 0 20px;
   }
   &__imgs {
      width: 54%;
      overflow: hidden;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
   }
   &__text {
      width: 50%;
      padding: 60px 70px;
   }
}
